connexion
coverage
cryptography
Flask-Testing
jsonschema==3.2.0
lxml
openapi-spec-validator
prance
PyJWT
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
